[submodule "Tweaks/YouTubeHeader"]
	path = Tweaks/YouTubeHeader
	url = https://github.com/PoomSmart/YouTubeHeader.git
	branch = main
[submodule "Tweaks/RemoteLog"]
	path = Tweaks/RemoteLog
	url = https://github.com/Muirey03/RemoteLog.git
[submodule "Extensions"]
	path = Extensions
	url = https://github.com/CokePokes/YoutubeExtensions.git
	branch = main
[submodule "Tweaks/YouPiP"]
	path = Tweaks/YouPiP
	url = https://github.com/PoomSmart/YouPiP.git
	branch = main
[submodule "Tweaks/YTVideoOverlay"]
	path = Tweaks/YTVideoOverlay
	url = https://github.com/PoomSmart/YTVideoOverlay.git
	branch = main
[submodule "Tweaks/YouMute"]
	path = Tweaks/YouMute
	url = https://github.com/PoomSmart/YouMute.git
	branch = main
[submodule "Tweaks/YouQuality"]
	path = Tweaks/YouQuality
	url = https://github.com/PoomSmart/YouQuality.git
	branch = main
[submodule "Tweaks/YTUHD"]
	path = Tweaks/YTUHD
	url = https://github.com/PoomSmart/YTUHD.git
	branch = master
