Package: com.vkh.yt
Name: Hiepvk YT
Architecture: iphoneos-arm
Description: A lightweight YouTube improvement tweak.
Maintainer: Hiepvk
Author: Hiepvk
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 14.0)

